@font-face {
    font-family: 'GreadyF';
    src: url("Gready_PERSONAL_USE_ONLY-Regular.otf");
}

@font-face {
    font-family: 'CocogooseLight';
    src: url("Cocogoose Pro Light-trial.ttf")
}

@font-face {
    font-family: 'CocogooseSemilight';
    src: url("Cocogoose Pro Semilight-trial.ttf")
}

@font-face {
    font-family: 'Cocogoose';
    src: url("Cocogoose Pro-trial.ttf")
}

@font-face {
    font-family: 'Cream';
    src: url("cream-DEMO.ttf")
}

@font-face {
    font-family: 'TomBold';
    src: url("MADE TOMMY Bold_PERSONAL USE.otf")
}

@font-face {
    font-family: 'TomMed';
    src: url("MADE TOMMY Medium_PERSONAL USE.otf")
}

@font-face {
    font-family: 'TomReg';
    src: url("MADE TOMMY Regular_PERSONAL USE.otf")
}

.word a {
    text-decoration: none;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 20px;
    padding-top: 10px;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.8679621506805848) 17%, rgba(90,45,253,1) 98%);
    background-size: auto;
    background-repeat: no-repeat;
}

#title {
    font-family: TomBold;
}

.headlink {
    color: white;
}

#usertr {
    font-family: TomMed;
    margin-right: 0;
    margin-left: auto;
}

.unbox {
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .5s ease-in-out;
}

.unbox:hover {
    background: rgba(255, 255, 255, .5);
    transition: .5s ease-in-out;
}

.container {
    width: 100%;
    display: flex;
}

.word {
    display:inline-block;
}

.sitecontent {
    font-family: TomReg;
    color: white;
    width: 80%;
    margin: 0 auto;
}

#proftop {
    display: flex;
}