{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %} 
<div class="mainmenubox">
    <h2>Log In</h2>

    <br />

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="libutton" type="submit">Log In</button>

        <br /><br /><br />

        <p>Don't have an account?</p>
        <a href="{% url 'signup' %}" id="sulink">
            <div id="subox">Sign Up</div>
        </a>
    </form>
</div>
{% endblock %}