{% extends 'base.html' %}

    {% block content %}
        {% if user.is_authenticated %}
            <h1>Sorry, {{ user.username }}</h1>

            but {{ wrong }}
            
            {% if dd == 1 %} 
                
                has already been played.  Only one actor or movie can be double dipped in this game.

            {% else %}

                is incorrect.

            {% endif %}

            This game's final score is <h2>{{ score }}</h2>

            <br /><br />

            <div id="gooptions">
                <a href="/movieweb/" id="pglink">
                    <div id="pgbox">Play Game</div>
                </a>

                <a href="/" id="mmlink">
                    <div id="mmbox">Main Menu</div>
                </a>
            </div>

        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
    
            <p>If you do not have an account.</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    
    {% endblock %}