{% extends 'base.html' %}

    {% block content %}

        {% if user.is_authenticated %}
            <h3>Highscores - click on any to see what was played</h3>
            <ol>
                {% for score in scores %}
                    <li><a class="whitelink" href="/movieweb/highscoreboard/{{ score.id }}">{{ score.user.username }} </a> {{score.score}}</li>
                {% endfor %}
            </ol>

        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>

            <p>If you do not have an account.</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}

    {% endblock %}