{% extends 'base.html' %}

    {% block content %}

        {% if user.is_authenticated %}
            <div id="proftop">
                <div id="left">
                    <h2>{{user.username}}</h2>
                    <h4>{{user.email}}</h4>
                </div>
                <div id="right">
                    highscore <br/>
                    <h2>{{highscore.score|default_if_none:"N/A"}}</h2>
                </div>
            </div>
            

        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>

            <p>If you do not have an account.</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
        
    {% endblock %}
