{% extends 'base.html' %}

    {% block content %}

        {% if user.is_authenticated %}
            <div id="proftop">
                <div id="left">
                    <h2>{{user.username}}</h2>
                    <h4>{{user.email}}</h4>
                </div>
                <div id="right" class="profbox">
                    <br/>
                    highscore <br/>
                    <h2>{{highscore.score|default_if_none:"N/A"}}</h2>
                </div>
            </div>

            <div id="proftop">
                <div id="left">
                    Most Used Movie <br/>
                    <h2>{{favMov}}</h2>
                </div>
                <div id="left">
                    Most Used Actor <br/>
                    <h2>{{favAct}}</h2>
                </div>
                <div id="left">
                    Most Used Start <br/>
                    <h2>{{favStart}}</h2>
                </div>
            </div>

            <br /><br />
            <div id="profbot">
                <a href="{% url 'logout' %}" id="lolink">
                    <div id="lobox">Log Out</div>
                </a>     
            </div>      

        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>

            <p>If you do not have an account.</p>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
        
    {% endblock %}
